body {
    min-width: 320px;
    background: #000;
}


/* banner */

.banner {
    /* margin-top: 50px; */
    height: 410px;
    vertical-align: middle;
    background: url(../../images/images-lzq/news_hero.jpg);
    display: none;
}

.banner .circle h1 {
    font-size: 48px;
    font-style: italic;
    /* margin-top: 60px; */
    /* display: inline-block; */
}

.banner h3 {
    font-size: 14px;
}

.circle {
    padding-top: 60px;
    width: 308px;
    height: 308px;
    border-radius: 50%;
    background: #4769b2;
    opacity: 0.8;
    margin-top: 40px;
    margin-left: 50px;
    vertical-align: middle;
    color: #fff;
}

.circle .glyphicon {
    font-size: 35px;
}


/* banner结束 */


/* 搜索栏 */

.box {
    background: #3f3f3f;
    padding: 15px;
}

.type {
    padding: 0!important;
}

.type button {
    outline: none;
    width: 100%;
    background: #222;
    height: 50px;
    border: none;
    color: #666;
    padding-left: 15px;
}

.type .platform {
    border-right: 1px solid #3c3c3c
}

.type button:hover {
    /* background: #3f3f3f; */
    background: rgba(19, 19, 19, 0.4);
    color: #fff;
}

.type span {
    color: #fff;
}

.box .position {
    position: relative;
    vertical-align: middle;
    background: #222;
    margin: 0 10px;
}

.show {
    display: block;
}

.drop ul li,
.drop2 ul li {
    /* width: 100%; */
    width: 397.33px;
    background: #222;
    height: 50px;
    border-left: 1px solid #222;
    border-bottom: 1px solid #666;
    line-height: 50px;
}

.drop ul li a,
.drop2 ul li a {
    display: block;
    padding-left: 15px;
    color: #666;
}

.drop ul li a:hover,
.drop2 ul li a:hover {
    text-decoration: none;
    color: #fff;
}

.active {
    background: #3f3f3f;
}

.drop,
.drop2 {
    background: #222;
}

.drop li:nth-child(1),
.drop2 li:nth-child(1) {
    margin-top: 5px;
}

.put {
    padding: 0;
}

.put input {
    color: #fff;
    outline-style: none;
    background: #212121;
    border: none;
}

.put .col-md-10 {
    margin-top: 15px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #3f3f3f;
    border-right: 1px solid #3f3f3f;
}

.put .col-md-10:before {
    position: absolute;
    left: 10px;
    content: "关键字：";
    color: #6b6b6b;
    /* text-align: left; */
}

.put .glyphicon-search {
    font-size: 24px;
    color: #6b6b6b;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    margin-right: 10px;
    /* margin-left: 0; */
}


/* 搜索栏结束 */


/* content */

.bj2 {
    background: #3f3f3f;
}

.news {
    background: #fff;
}

.title {
    background: #3e61ad;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
}

.news .more {
    padding: 0;
    text-indent: 15px;
    height: 50px;
    line-height: 50px;
}

.more :hover {
    background: #3f3f3f;
    text-decoration: none;
}

.more a {
    background: #252525;
    color: #9d9d9d;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.more a:hover {
    color: #fff;
}

.news .content {
    background: #fff;
}

.content h1 {
    color: #252525;
    font-size: 24px;
    font-weight: bold;
    padding: 30px;
}

.content .date {
    color: #565656;
    font-size: 18px;
    margin-bottom: 30px;
}

.content p {
    text-indent: 2em;
    margin-bottom: 10px;
    padding: 0 20px;
}

.content img {
    max-width: 100%;
    height: auto;
}


/* 侧栏，游戏推荐 */

body .sale {
    background: #3f3f3f;
    padding-right: 20px;
    /* height: 2691.68px */
}

.bj {
    padding: 10px;
    background: #0f0f0f;
}

.sale h2 {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    background-image: url(../../images/images-lzq/header-border-white.png), url(../../images/images-lzq/header-border-white.png);
    background-repeat: no-repeat;
    background-position: 50% 0, 50% 100%;
}

.sale img {
    width: 100%;
    padding: 0 10px;
}

.sale h3 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.sale h3 {
    padding: 15px;
}

.sale h3 span {
    display: inline-block;
    background-size: cover;
    width: 19px;
    height: 19px;
}

.sale h3 .icon1 {
    background-image: url(../../images/images-lzq/pc-game.png);
    background-repeat: no-repeat;
}

.sale h3 .icon2 {
    background-image: url(../../images/images-lzq/console-game.png);
    background-repeat: no-repeat;
}

.sale p {
    color: #9d9d9d;
}

.sale .url {
    padding: 15px;
}

.sale .enter {
    /* padding: 0; */
    width: 48%;
    line-height: 40px;
}

.sale .buy {
    /* padding: 0; */
    width: 48%;
    line-height: 40px;
}

.sale .col-md-6 {
    padding-right: 0;
}

.sale .enter a {
    background: #3e61ad;
    display: block;
    color: #fff;
    text-decoration: none;
}

.sale .buy a {
    width: 100%;
    display: block;
    background: #b1ff53;
    color: #000;
    text-decoration: none;
}

.sale .more-sale {
    color: #fff;
}

.sale .more-sale fieldset {
    border-top: 1px solid #666;
    /* width: 364px; */
    width: auto;
    margin-left: 15px;
    margin-top: 10px;
}

legend {
    width: 90px;
    border: none;
    color: #fff;
    font-size: 16px;
}

.sale .relact {
    margin-top: 20px;
}


/* 移动端，超小屏幕 */

@media (max-width: 991px) {
    .type {
        margin-top: 50px;
    }
    .drop,
    .drop2 {
        /* position: absolute; */
        display: none;
        z-index: 999;
    }
    .type button {
        border-bottom: 1px solid #3f3f3f;
        border-right: none
    }
    .type .platform {
        border-right: none
    }
    .box .ml {
        margin-left: 20px;
    }
    .put .col-md-10 {
        margin-bottom: 20px;
    }
    .content img {
        width: 90%;
    }
    .drop ul li,
    .drop2 ul li {
        width: 100%;
        /* width: 414.33px; */
        background: #222;
        height: 50px;
        border-left: 1px solid #222;
        border-bottom: 1px solid #666;
        line-height: 50px;
    }
    .ml .col-md-2 {
        padding: 0;
    }
    .put .col-md-10:before {
        position: absolute;
        left: 20px;
        top: 4px;
        content: "关键字：";
        color: #6b6b6b;
        /* text-align: left; */
    }
    .put input {
        padding-left: 60px;
        margin-top: 3px;
    }
    .sale {
        height: 100%;
    }
}


/* 小屏幕（平板，大于等于 768px） */

@media (min-width: 768px) {}


/* 中等屏幕（桌面显示器，大于等于 992px） */

@media (min-width: 992px) {
    .banner {
        display: block;
        margin-top: 50px;
    }
    .drop,
    .drop2 {
        position: absolute;
        display: none;
        z-index: 999;
    }
}

@media (min-width: 1200px) {}