/* banner */

.banner {
    height: 410px;
    vertical-align: middle;
    background: url(../../images/images-lzq/news_hero.jpg);
    display: none;
}

.banner h1 {
    font-size: 48px;
    font-style: italic
    /* margin-top: 60px; */
    /* display: inline-block; */
}

.banner h3 {
    font-size: 14px;
}

.circle {
    padding-top: 60px;
    width: 308px;
    height: 308px;
    border-radius: 50%;
    background: #4769b2;
    opacity: 0.8;
    margin-top: 40px;
    margin-left: 50px;
    vertical-align: middle;
    color: #fff;
}

.circle .glyphicon {
    font-size: 35px;
}


/* banner结束 */


/* content */


/* 搜索栏 */

.box {
    background: #3f3f3f;
    padding: 15px;
}

.type {
    padding: 0;
}

.type button {
    outline: none;
    width: 100%;
    background: #222;
    height: 50px;
    border: none;
    color: #666;
    padding-left: 15px;
}

.type button:hover {
    /* background: #3f3f3f; */
    background: rgba(19, 19, 19, 0.3);
    color: #fff;
}

.type span {
    color: #fff;
}

.position {
    position: relative;
}

.drop,
.drop2 {
    position: absolute;
    display: none;
    margin-top: 5px;
}

.show {
    display: block;
}

.drop ul li,
.drop2 ul li {
    /* width: 100%; */
    width: 414.33px;
    background: #222;
    height: 50px;
    border-bottom: 1px solid #666;
    line-height: 50px;
}

.drop ul li a,
.drop2 ul li a {
    display: block;
    padding-left: 15px;
    color: #666;
}

.drop ul li a:hover,
.drop2 ul li a:hover {
    text-decoration: none;
    color: #fff;
}

.active {
    background: #3f3f3f;
}


/* 移动端，超小屏幕 */

@media (max-width: 767px) {}


/* 小屏幕（平板，大于等于 768px） */

@media (min-width: 768px) {}


/* 中等屏幕（桌面显示器，大于等于 992px） */

@media (min-width: 992px) {
    .banner {
        display: block;
    }
}