*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
   
}
.clearflx::before{
    content:"";
    display: table
}
.clearflx::after{
    clear:both;
    content: "";
    display: table;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
a{
    text-decoration: none;
}
button{
    cursor:pointer;
    overflow: hidden;
    outline:0;
}
li{
    list-style: none
}
ul{
    padding:0;
    margin:0
}
#header{
    background: #FE6050
}
#header .head-a{
    text-align: center;
    display:block;
    padding: 10px;
    overflow: hidden;
    text-decoration: none;
    
}
.cta:hover{
   opacity: 0.8
}
.head-a>h2{
   color:#fff;
   font-size: 26px;
   font-weight:400;
   margin:0 10px;
  
}
.head-a>h2>img{
    width: 20px;
    height: 20px;
}
.head-a .cta{
    display:inline-block;
     padding: 8px 15px;
    background:#fff;
    color:#FE6050;
    vertical-align: middle;
}

.cco{
    width:30%;
    cursor: pointer;
   
}
.nav-top{
    padding: 15px 0 0 21px;
    width: 100%;
    display: flex;
  
}
.nav-search{
    width:45%;
    margin-left:67px;
    margin:0
}
.nav-search form{
    width: 550px;
    margin:0 auto;
    border:1px solid #818181;
}
fieldset{

    position: relative;
}
.text{
    font-family: Trade Gothic Condensed,Roboto Condensed,Arial,sans-serif;
    width:100%;
    height: 35px;
    padding-left:12px;
    color:#ababab;
    font-size:14px;
    letter-spacing: 1px;
    border:0;
    padding-right: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
     outline:none;
}

.nav-search .bttn{
    background:url(../image-wlm/3.png) no-repeat;
    background-position: 0 -4659px;
    width: 35px;
    height: 35px;
    position: absolute;
    top:0;
    right: 0;
    border:0;
    z-index:1000;
}
.nav-search .bbn{
     background:url(../image-wlm/3.png) no-repeat;
    background-position: 0 -4604px;
    width: 35px;
    height: 35px;
    background-color: #77b9f1;
    position: absolute;
    top:0;
    right: 0;
    z-index:1000;
}
.nav-search .act{
   border:2px solid #20334b
}

.nav-right{
 width:25%;
 float:none;
 display: flex;
 position: relative;
 display: -webkit-box;

}
.nav-dd{
    width:77px;
    height:39px;
   margin: 0 35% 0 auto;
}

.nav-right .link>a{
   
   padding: 10px 15px 10px 17px;
    letter-spacing: .1px;
    font-family: Trade Gothic Condensed,Roboto Condensed,Arial,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #2a2828;
    float:left;
    cursor: pointer;
  } 
  .nav-pp{
     min-width: 92px;
    height: 33px;
    position: absolute;
    right: 0;
    -webkit-transition: min-width .3s;
    transition: min-width .3s;
    
  }
  .nav-right .nav-pp a{
      text-decoration: none;
      cursor: pointer;
  }
  .nav-p-d{
      background:#cef156;
      width:100%;
      height:100%
  }
.nav-p-sp1{
    font: 22px Trade Gothic Bd Condensed,Roboto Condensed Bold,Arial,sans-serif;
    color:#fff;
    display:block;
    width:35px;
    height: 35px;
    position: absolute;
    top:-1px;
    left:-17px;
    text-align: center;
    background:#203348;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 35px;

}
 .nav-p-sp2{
    font:16px Trade Gothic Bd Condensed,Roboto Condensed Bold,Arial,sans-serif;
    text-transform: uppercase;
    color: #000;
    display: block;
    padding-left: 17px;
    height: 100%;
    line-height:33px;
    letter-spacing: -0.5px;
    text-align: center;
   
}
.nav-btm{
    width:960px;
    margin:25px auto 0;
    position: relative;
    text-align: center;
}
.nav-btm>li{
    display:inline-block;
}
.nav-btm>li>a{
    padding:11px 17px;
    display:inline-block;
    font:16px/16px Trade Gothic Condensed,Roboto Condensed,Arial,sans-serif;
    color:#000;
    letter-spacing: .3px;
    line-height: 17px;
}
.nac-btm>li>i{
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.nav-btm li a{
    text-decoration: none
}
.nav .nav-btm>li .level-2{
    display: none;
    width:905px;
    background:#1f1f1f;
    text-align: left;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1000
}
.level-2 a{
     cursor: pointer;
}
.level-3 a{
    font: 14px Trade Gothic,Roboto Condensed,Arial,sans-serif;
    display:block;
    color:#fff;
    padding:3px 15px;
    letter-spacing: 1px;
}
.level-3 a:hover{
    background:#203348;
    color:#71b4ff;
 }  
 #carousel-example-generic img{
    cursor:pointer
 }  
.wrapper img,span{
    cursor:pointer
}
.banner{
    width:100%;
    margin:10px 0 0 0;
}
.nav-btm>li:hover{
    background:#000;

}
.nav-btm>li:hover a{
    color:#fff;
}
.nav-btm>li:hover .level-2{
    display: block
}
.level-2>ul{
    overflow: hidden;
}
.level-2>ul>li{
    float: left;
    width:33%;
    padding: 5px 20px 0px;
    border-right: 1px solid #383738;
   margin: 12px 0 0px;
}
.level-2>ul>li>a{
    font: 14px Trade Gothic Bd Condensed,Roboto Condensed Bold,Arial,sans-serif;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
    letter-spacing: .5px;

}
.col{
   color: #969696;
    font-size: 18px;
    margin-left: 4px;
}
 
#carousel-example-generic .carousel-indicators{
  
        position: absolute;
    bottom: 10px;
    right:40px;
    z-index: 15;
    left: 119%;
    width:40px;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
      
}
#carousel-example-generic li{
    background-color:#fff;
    border:2px solid #fff
}
 #carousel-example-generic .carousel-indicators .active {
   
    background-color: #6fb1fb;
}
#main{
    background:#f2f2f2;
}
.wrapper{
    width: 960px;
    margin:0 auto;
}
.wrapper .pushes{
    margin-bottom: 35px;
    overflow:hidden
}
.push{
    line-height: 110%;
    width: 25%;
    float: left;
    padding: 1px;
    height: 160px;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.wrapper .push a{
    text-decoration: none;
}
.push-tile{
    position: relative;
    height:100%;
}

.inner-img{
    margin:0 10px 0 20px;
    width: 85px;
    height: 125px;
    display: inline-block;
}
.inner-img img{
   padding-top: 10px;

}
#main img{
     width: 100%;
    max-height: 100%;
}
.wrapper .push:first-child {
    padding-left: 0;
}
.inner-name{
    text-align: left;
    max-width: 49%;
    margin: 15px 0 0 0;
    display: inline-block;
    vertical-align: top;
}
.name-link{
    font: 16px/1.2 Trade Gothic Bd Condensed,Roboto Condensed Bold,Arial,sans-serif;
    color: #191919;
    text-decoration: none;
}
.product-pricting>div{
    position: absolute;
    bottom: 5px;
    right:5px;
}
.product-btm{
    display: inline-block;
    vertical-align: bottom;
   
}
.product-sale{
    display:inline-block;
  background:#191919;
  color:#fff;
  font: 15px/24px Trade Gothic Condensed,Roboto Condensed,Arial,sans-serif;
  padding: 0 5px 0 3px;
}
.product-show{
    display: inline-block;
    background:#cef156;
    padding:0 8px;
    color:#191919;
    margin-left:-5px;
    font: 18px/24px Trade Gothic Bd Condensed,Roboto Condensed Bold,Arial,sans-serif;
}
.cap{
    height:46px;
    width:100%;
    position: absolute;
    left:0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    padding: 0 10px;
    font: 14px Trade Gothic Bd Condensed,Roboto Condensed Bold,Arial,sans-serif;
    margin:0 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
    display:table
}
.cap>div{
        display: table-cell;
    vertical-align: middle;
   
}
.cap>div>p{
    margin:0;
}
.menu-toggle{
    display:none
}
.push .cap-sp{
    background:url("../image-wlm/9.png") no-repeat;
    background-position: 0 -7042px;
    width:76px;
    height:76px;
    position: absolute;
    left:50%;
    top:25px;
    transform: translateX(-50%);
} 
.wrapper .push-youtube:hover .cap-sp, .wrapper .push-twitch:hover .cap-sp {
    background-image: url("../image-wlm/9.png");
    background-position: 0 -6946px;
    background-repeat: no-repeat;
    width: 76px;
    height: 76px;
}
.section-title{
    text-align: center;
    padding-bottom: 5px;
}
.section-title>h2{
     
    font: 30px Trade Gothic Bd Condensed,Roboto Condensed Bold,Arial,sans-serif;
    line-height: 30px;
    letter-spacing: 5px;
    display: inline-block;
    padding: 0;
    margin: 0 0 15px 0;
    text-transform: uppercase;
   
}
.section-title h2:before,h2::after {
    content: '';
    display: block;
    width: 65%;
    margin: 0 auto;
}
.section-title h2:before{
        border-bottom: 1px solid #000;
    margin-bottom: 5px;
}

.section-title h2:after {
    border-top: 1px solid #000;
    margin-top: 5px;
}
.ul-container{
    overflow:hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.li-title{
    width:20%;
    height:320px;
    float: left;
    box-sizing: border-box;
    position: relative;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #f2f2f2;
    background:#fff;
}
.ul-container .li-title .section-img{
    border-bottom:1px solid #d8d8d8;
    display: block;
    height: 205px;
   
}
#main .section-img img{
    width:auto;
    padding:20px;
    display:block;
    height:auto;
    max-height: 100%;
    max-width:100%;
    margin:auto;

}
.section-link .section-name{
    font: 14px/1.2 Trade Gothic Bd Condensed,Roboto Condensed Bold,Arial,sans-serif;
    color: #000;
    padding: 0 20px;
    margin: 10px 0 0;
}
.product-pring{
    width: 191px;
    right: 2px;
    position: absolute;
    bottom: 3px;
    text-align: right;
}
.product-price>:last-child{
    font: 15px/24px Trade Gothic Condensed,Roboto Condensed,Arial,sans-serif;
    padding: 0 5px 0 3px;
    background-color: #191919;
    color: #fff;
    display:inline-block
}
.li-title-a{
    display:block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer
}
.main-fot::after{
    clear:both;
    content: "";
    display: table;
}
 .product-full{
    text-align: right;
    margin: 10px 0 35px;
    text-transform: uppercase;
    float: right;
     width: 100%;
     clear:both;
}
.wrapper .product-full>a{
    text-decoration: none;
    color: #000;
    font: 14px Trade Gothic Condensed,Roboto Condensed,Arial,sans-serif;
    background-color: #e1e1e1;
    padding: 6px 8px;
    margin-right: 10px;
}
.product-full>a::after{
    background-image: url(../image-wlm/9.png);
    background-position: 0 -1593px;
    background-repeat: no-repeat;
    width: 10px;
    height: 17px;
    content: '';
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: 3px;
}
.product-price .product-precent{
    background-color: rgb(255, 37, 83);
    color: rgb(255, 255, 255);
    display:inline-block;
    font: 17px/24px Trade Gothic Bd Condensed,Roboto Condensed Bold,Arial,sans-serif;
    padding:0 5px;
    vertical-align: bottom;
 
}
.product-price{
    font-size:0;
}
.product-price .product-stand{
    display:inline-block;
    font: 11px/24px Trade Gothic Condensed,Roboto Condensed,Arial,sans-serif;
    background:#191919;
    color:#fff;
    vertical-align: bottom;
    text-decoration: line-through;
}
footer{
    background: #ffffff;
}
.footer-banner{
    padding:25px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.banner-ul{
    width:690px;
    max-width:100%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    
}
.banner-fot li{
    margin-right:40px;
    width: 183px;
    vertical-align: middle;
    display: inline-block;
}
.banner-fot img{
    max-width:100%
}
.banner-fot li:last-child {
    margin-right: 0;
}
.footer-container{
    width:805px;
    margin: 45px auto 30px auto;
    box-sizing: border-box
}
.footer-container .footer-item{
    width:190px;
    border:2px solid #000;
    margin-right: 15px;
    padding: 0 10px;
    min-height: 150px;
    float:left;
    height:150px;
}
.content-rest h4{
    margin:-10px auto 0 auto;
    height:22px;
    width:90px;
    text-align:center;
    background: #ffffff;
    font: 16px/22px Trade Gothic Bd Condensed,Roboto Condensed Bold,Arial,sans-serif;
    text-transform: uppercase;
}
.footer-item ul{
        padding: 10px 25px;
}
.footer-item a{
    font: 14px/20px Trade Gothic Condensed,Roboto Condensed,Arial,sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
     cursor:pointer
}
footer .footer-container .footer-item4{
    margin-right:0
}
footer .footer-container .footer-item4 h4{
    width:145px;

}
footer .footer-container .footer-item2 h4{
    width:95px;
    
}
footer .footer-container .footer-item3 h4{
    width:145px;
    
} 
.footer-social{
    margin:0 auto 15px auto;
}
.footer-social .footer-conta{
    width: auto;
    margin: 0;
   
}
.content-auto{
    display:flex;
justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}
.content-auto ul{
    display:inline-block;
     overflow: hidden

}
.content-auto ul>li{
    float:left;
    margin-right:8px;
}
.content-auto ul>li img{
    max-height:20px;
}
footer p{
    font: 12px/22px Trade Gothic Light,Roboto Condensed Light,Arial,sans-serif;
    text-align: center;
    width: 100%;
    margin: 0 0 16px;
}
.level-2 .menu-vertical {
    overflow: hidden;
}

@media screen and (max-width: 479px){
    .cco{
       width: 40% 
    }
    
}
@media screen and (max-width: 767px){
   .nav-top .nav-search .bbn{
     background:url(../image-wlm/3.png) no-repeat;
    background-position: 0 -3696px;
    width: 35px;
    height:100%;
    background-color: #77b9f1;
    position: absolute;
    top:0;
    right: 0;
    z-index:1000;
}
    .banner {
   
    margin: 0
    }
    .menu-active {
    padding-bottom: 61px;
}
    .menu-active .nav-right .link a.up-login {
    background-image: url(../image-wlm/3.png);
    background-position: 0 -4550px;
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    padding-left: 45px;
}
.menu-active .nav-top .nav-right .nav-dd {
    display: block;
    position: fixed;
    z-index:1000;
    left: 0;
    bottom: 0;
    width: 100%;
}
.menu-active .nav-top .nav-right ul{
    width: 100%;
    margin: 0;
}
.menu-active .nav-top .nav-right .nav-dd>ul .link {
   width:100%;
   float:left;
    margin: 0; 
     height: auto; 
     background: #fff; 
     border-top: 1px solid #a8a8a8;
    text-align: center;
}
.menu-active .nav-right .link a {
    font-size: 18px;
    line-height: 44px;
    padding: 7px 0 7px 0;
    float: none;
}
   .nav .nav-btm>li .level-2{
    display: none;
    }
    .menu-active .nav-btm>li.frot>.level-2 {
    display: block;
     position: static;
    width: 100%;
    background: #191919;
}
.nav .nav-btm>li .menu-vertical  a {
    font-size: 22px;
    line-height: 38px;
    color:#fff
}
    .menu-active .nav-btm>li.frot .fa-angle {
    background-image: url(../image-wlm/3.png);
    background-position: 0 -1023px;
     background-repeat: no-repeat; 
     width: 22px; 
     height: 14px; 
    top: 14px; 
}
.menu-active .nav-btm>li.frot>a {
    color: #fff;
}
.nav .nav-btm>li a{
    color:#000
}
.menu-active .nav-btm>li:nth-child(1).frot {
    margin: 1px 0 0 0;
}
.menu-active .nav-btm>li.frot {
    border-top: 0;
    background: #191919;
}
.menu-active .menu-vertical {
    padding-bottom: 15px;
}
.menu-active .menu-vertical>li {
    width: 100%;
    padding: 20px 20px 0 55px;
    margin: 0;
    border-top: 1px solid #696969;
}
    .menu-active .nav-btm>li .fa-angle{
    background-image: url(../image-wlm/3.png);
    background-position: 0 -3166px;
    background-repeat: no-repeat;
    width: 13px;
    height: 22px;
    font-size: 0;
    position: absolute;
    right: 40px;
    top: 10px;
    color:  #969696;
}
.menu-active .nav-btm>li>a {
    font-size: 20px;
    letter-spacing: 1.2px;
    padding: 0;
    line-height: 38px;
    width: 100%;
}
.nav-btm .icon{
    display:none
}
   .nav .nav-top{
        padding: 9px 0 0 11px;
        height: 100px;
        position: relative;
    }
    .cco{
       width: 50% 
    }
     .nav .nav-search{
        position: absolute;
        top: 62px;
        left: 61px;
        width: 78.6%;
     }
    .head-a .cta{
        margin-top:10px;
    }
    .nav .nav-right{
        width:50%;
    }
    .text{
        height: 27px;
    }
   .nav-search .bttn{
       background-image: url(../image-wlm/3.png);
    background-position: 0 -3743px;
    background-repeat: no-repeat;
    width: 35px;
    height: 27px;
    top: 0;
    right: 0;
    height: 100%;
   } 
   .menu-toggle{
    display:block;
    background: 0;
    border: 0;
    font-size: 35px;
    position: absolute;
    top: 55px;
    left: 21px;
    -webkit-transform: scaleX(1.1);
    -ms-transform: scaleX(1.1);
    transform: scaleX(1.1);
    padding: 2px 5px;
    border-color:transparent
   }
   .menu-toggle .iconfont{
   display:inline-block;   
    font-size: inherit;
   
   }
   .menu-active .menu-toggle .menu-icon{
    background-image: url(../image-wlm/3.png);
    background-position: 0 -3294px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display:inline-block;
   font-size: 0; 
}
.menu-active{
    border:0
}
.menu-active .menu-toggle {
    font-size: 9px;
} 
 .nav-btm{
     position: absolute;
    display: none;
    } 
    .menu-active .nav-btm {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 61px;
    z-index: 10200;
    position: absolute;
    }
    .menu-active .nav-btm>li {
    display: block;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    position: relative;
    background: #fff;
    z-index: 2;
}
.menu-active .nav-btm>li:nth-child(1) {
    border-color: #8c8c8c;
}
.pushes .push:first-child {
    width: 100%;
        height: 130px;
    clear: both;
    position: relative;
}
.wrapper .push .inner-image {
    margin-top: 10px;
    width: 70px;
    height: 105px;
}
.pushes .product-pricting .product-btm .product-sale {
    font-size: 26px;
    line-height: 100%;
    padding: 2px 10px;
    display: inline-block;
}
.pushes .product-pricting .product-show {
    font-size: 20px;
    padding: 3px 15px;
}
.wrapper .push {
    width: 33.333%;
}
.pushes .push-youtube{
    height:auto;
}
.pushes .push-twitch{
    height:auto;
}
.wrapper .push {
    width: 50%;
    padding: 0;
}
.wrapper .cap {
    padding: 15px 10px;
    margin: 0;
    height:74px
}
.pushes .push:last-child {
    display: none;
    padding-left: 1px;
}
.ul-container .li-title{
    width: 100%;
    padding: 10px 18px;
    height: 162px;
    border-bottom: 1px solid #c1c1c1;
}
.ul-container .li-title .section-img{
    border: 0;
    height: 139px;
    width: 97px;
    float: left;
}
#main .ul-container .li-title img{
    padding:0;
}
.ul-container .li-title .section-link{
    float: left;
    width: 60%;
}
.ul-container .li-title .section-link .section-name{
    margin: 0;
    font-size: 18px;
}
.ul-container .li-title .product-pring{
        bottom: 10px;
    right: 18px;
}
.footer-container{
    display: block;
    width: 100%;
    margin: 10px 0 15px;
    border-bottom: 1px solid #191919;
}
.footer-container .footer-item{
    width: calc(50% - 15px);
    margin-right: 30px;
    margin-bottom: 22px;
    padding-right: 0;
    height: auto;
    border: 0;
}
.footer-container h4 {
    margin: 0;
    padding-left: 13px;
    text-align: left;
}
.footer-container .footer-item ul {
    padding: 5px 0 5px 13px;
    line-height: 28px;
}
.footer-container .footer-item:nth-child(2){
    margin-right: 0;
}
.footer-container .footer-item.footer-item3, .footer-container .footer-item.footer-item4 {
    margin-bottom: 0;
}
.footer-container a {
    font-size: 17px;
}
.wrapper .product-full a{
    padding: 10px;
    font-size: 16px;
    display: inline-block;
}
.main-fot .section-title h2{
    font-size: 22px;
}
.footer-social{
        width: 100%;
    margin-bottom: 0;
}
.content-auto{
    display:block;
    text-align: center
}
.footer-social .content-auto>img {
    margin: 15px 0;
}
.footer-social img{
margin:0 auto;
float: none;
    display: inline-block;
}
.footer-social ul {
    float: none;
    width: 100%;
    text-align: center;
}
.footer-social .content-auto ul>li {
    margin: 0 4%;
    display: inline-block;
    float: none;
}
.footer-social li:first-child {
    margin-left: 0;
}
footer p {
    padding: 15px 10px 0;
    line-height: 17px;
}
}
@media screen and (max-width: 959px){
   .push {
    width: 33.333%;
}
    .content-asstr p {
    padding: 0 130px;
    line-height: 18px;
}
    .section-title h2{
        font-size: 16px;
    line-height: 100%
    }   
    .footer-container .footer-item ul {
    padding: 18px 8px 10px;
}
    .pushes .push:last-child {
    display: none;
}
    .wrapper{
        width:100%;
    }
    .nav-btm{
        width:auto
    }
   .nav-right .link>a{
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    }
     .cco{
       margin:0
    }
    .nav-top{
        padding: 12px 0 0 11px;
     }  
   .nav-search{
       width: 40.1%;
    margin-left: 17px;
   } 
   .nav-p-sp1{
    font-size: 17px;
    width: 28px;
    height: 28px;
    line-height: 28px;
   }
   .nav-p-sp2{
    font-size: 14px;
    padding: 0;
    line-height: 27px;
    margin-left: 10px;
   }
   .nav-pp{
       height:27px;
       margin-top:5px;
   }
   .text{
       padding-left:6px;
   }
}
@media screen and (max-width: 1279px){
    .content-auto{
        width:100%
    }
    .nav-search form{
        width:100%
    }
    .nav-search{
        width:40%;
    }
     .nav-right{
        width:35%;
    }
}
/*只要大于769 */
@media screen and (min-width: 769px){  
    .head-a>h2{
      display: inline-block;
      vertical-align: middle;  
    }
    
}