@charset "utf-8";

/*base*/

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    padding: 0
}

* {
    box-sizing: border-box;
}

li {
    list-style: none
}

a {
    text-decoration: none;
}