        @charset "utf-8";
        /* 公共样式 */
        
        html,
        body,
        ul,
        li,
        img,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a,
        .col-xs-4,
        .col-md-3,
        .col-sm-12,
        .row,
        .col-md-4,
        .col-md-8 {
            margin: 0;
            padding: 0;
        }
        
        .col-md-4 {
            margin: 0!important;
            padding: 0!important;
        }
        
        .col-xs-4,
        .col-md-3,
        .col-sm-12,
        .row {
            padding: 0!important;
        }
        
        .row {
            margin: 0!important;
        }
        
        a,
        a:focus,
        a:hover,
        a:active {
            text-decoration: none;
        }
        
        html,
        body,
        {
            width: 100%;
            overflow-x: hidden;
        }
        /* 当宽度大于991的样式 */
        /* 玩家头像及爱好 */
        
        .player-wrap {
            background: url(../../images/image-wp/36.jpg) no-repeat;
            background-size: cover;
            background-position: center;
            margin-top: 50px;
            height: 410px;
            width: 100%;
            position: relative;
        }
        
        .player-wrap .player-photo-b {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            padding-top: 50px;
        }
        
        .player-wrap .player-photo-b img {
            width: 100%;
            border-radius: 50%;
            box-shadow: 0px 0px 10px;
        }
        
        .player-wrap .player-captain {
            position: absolute;
            min-height: 120px;
            background: rgba(0, 0, 0, 0.7);
            width: 100%;
            bottom: 0;
            text-align: center;
        }
        
        .player-wrap .player-captain .player-name {
            color: #fff;
            font-size: 20px;
            padding: 10px;
        }
        
        .player-wrap .player-captain .player-name img {
            width: 28px;
        }
        
        .player-wrap .player-captain .player-overview {
            width: 60%;
            margin: 0 auto;
            text-align: left;
            color: #9e9e9e;
            padding-bottom: 15px;
        }
        
        .player-wrap .backtolist {
            position: absolute;
            background: url(../../images/image-wp/9.png) no-repeat;
            width: 182px;
            height: 50px;
            right: 0px;
            top: 25px;
            font-size: 18px;
            color: #fff;
            padding-left: 40px;
            padding-top: 12px;
        }
        
        .player-wrap .backtolist a {
            color: #fff;
        }
        /* 个人相册和个人资料  */
        
        .container-fluid2 {
            color: #454545;
        }
        /* 个人相册 */
        
        .container-fluid2 .row .player-content-bg {
            background-color: #ffffff;
            min-height: 800px;
        }
        
        .container-fluid2 .row .player-content-bg header {
            padding-top: 20px;
        }
        
        .container-fluid2 .row .player-content-bg header h1 {
            background-image: url(../../images/image-wp/10.png), url(../../images/image-wp/11.png);
            background-position: 50% 0, 50% 100%;
            background-repeat: no-repeat;
            color: #000;
            min-width: 54px;
            padding: 8px 0;
            text-align: center;
            font-size: 18px;
        }
        /* 轮播 */
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt {
            padding-top: 25px;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .carousel_wrap-rq {
            margin: 0 50px;
            padding-top: 0;
            padding-bottom: 20px;
            border: 0;
            background: transparent;
            outline: none;
            position: relative;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .carousel_wrap-rq img {
            width: 100%;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .carousel_wrap-rq a {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: url(../../images/image-wp/12.png) no-repeat center;
            cursor: pointer;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .allvideos {}
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix {
            margin: 0px 50px;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .videopic-list {
            position: relative;
            padding: 0 30px;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .videopic-list .subitem-1 {
            width: 25%;
            float: left;
            text-align: center;
            position: relative;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .videopic-list .subitem-1 .block {
            width: 100%;
            height: 100%;
            background: #fff;
            position: absolute;
            opacity: .4;
            display: none;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .videopic-list .subitem-1:hover .block {
            display: block;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .videopic-list .subitem-1 a img {
            width: 95%;
            margin: 0 auto;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .left-arrow {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 30px;
            height: 100%;
            color: #000;
            background: #aaa;
            display: block;
            font-size: 30px;
            vertical-align: middle;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .left-arrow:hover {
            color: #fff;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .left-arrow span {
            position: absolute;
            top: 50%;
            margin-top: -15px;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .right-arrow {
            left: auto;
            right: 0;
            bottom: 0;
            width: 30px;
            height: 100%;
            color: #000;
            background: #aaa;
            display: block;
            font-size: 30px;
            vertical-align: middle;
            position: absolute;
            top: 0;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .right-arrow:hover {
            color: #fff;
        }
        
        .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .right-arrow span {
            position: absolute;
            top: 50%;
            margin-top: -15px;
        }
        /* 最新发布 */
        
        .container-fluid2 .row .player-content-bg .latestArticle {
            padding: 50px;
        }
        
        .container-fluid2 .row .player-content-bg .latestArticle .ubi-title {
            width: 100%;
            height: 50px;
            background-color: #3e61ad;
            color: #fff;
            font-size: 18px;
            line-height: 50px;
            padding-left: 20px;
            position: relative;
        }
        
        .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 {
            padding: 15px 0;
            border-bottom: 1px solid #eee;
            margin-top: 15px;
        }
        
        .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 img {
            min-width: 160px;
            width: 100%;
            height: 100%;
        }
        
        .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 .news {
            color: #fff;
            padding: 10px;
            font-size: 14px;
        }
        
        .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 .news h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 .news h3 a {
            color: #000;
        }
        
        .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 .news .news-date {
            color: #565656;
            font-weight: bold;
            font-size: 14px;
        }
        
        .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 .news p {
            height: 60px;
            color: #969696;
            margin: 0 0 0px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        /* 个人资料 */
        
        .container-fluid2 .row .player-content-right-bg {
            background-color: #2e2e2e;
            padding-top: 20px;
        }
        
        .container-fluid2 .row .player-content-right-bg header h1 {
            background-image: url(../../images/image-wp/13.png), url(../../images/image-wp/14.png);
            background-position: 50% 0, 50% 100%;
            background-repeat: no-repeat;
            color: #fff;
            min-width: 54px;
            padding: 8px 0;
            text-align: center;
            font-size: 18px;
        }
        
        .container-fluid2 .row .player-content-right-bg .player-info {
            padding: 20px 50px;
        }
        
        .container-fluid2 .row .player-content-right-bg .player-info p {
            color: #a1a1a1;
            font-size: 18px;
        }
        
        .container-fluid2 .row .player-content-right-bg .player-info p span {
            color: #fff;
            font-size: 18px;
        }
        
        .container-fluid2 .row .player-content-right-bg .player-info p a {
            color: #fe6a00;
        }
        
        .container-fluid2 .row .player-content-right-bg .player-info .joindate {
            color: #7fbb5b;
            font-size: 20px;
        }
        /* 其他成员 */
        
        .container-fluid2 .row .player-content-right-bg .ubi-title {
            width: 100%;
            height: 50px;
            background-color: #3e61ad;
            color: #fff;
            font-size: 18px;
            line-height: 50px;
            padding-left: 20px;
            position: relative;
        }
        
        .container-fluid2 .row .player-content-right-bg .memberlist {
            background: #000;
        }
        
        .container-fluid2 .row .player-content-right-bg .memberlist .player {
            padding: 20px;
        }
        
        .container-fluid2 .row .player-content-right-bg .memberlist .player .player-photo {
            width: 40%;
            float: left;
            padding: 10px 20px;
        }
        
        .container-fluid2 .row .player-content-right-bg .memberlist .player .player-photo img {
            width: 100%;
        }
        
        .container-fluid2 .row .player-content-right-bg .memberlist .player .player-info2 {
            width: 60%;
            float: left;
            padding-top: 10px;
            font-size: 16px;
        }
        
        .container-fluid2 .row .player-content-right-bg .memberlist .player .player-info2 h2 {
            font-size: 24px;
            line-height: 28px;
            color: #3e61ad;
            margin-bottom: 0px;
            padding: 5px 0;
        }
        
        .container-fluid2 .row .player-content-right-bg .memberlist .player .player-info2 h2 a {
            color: #9d9d9d;
            text-decoration: none;
        }
        
        .container-fluid2 .row .player-content-right-bg .memberlist .player .player-info2 h2 img {
            width: 28px;
            vertical-align: top;
        }
        
        .container-fluid2 .row .player-content-right-bg .memberlist .player .player-info2 p {
            ont-size: 16px;
            color: #666;
            line-height: 24px;
            margin: 0px;
        }
        
        .container-fluid2 .row .player-content-right-bg .memberlist .player .player-info2 p span {
            color: #fff;
        }
        
        @media (min-width: 767px) and (max-width:991px) {
            .news-bg2 div:nth-child(1) {
                height: 445px!important;
            }
        }
        
        @media (max-width: 767px) {
            /* 个人相册 */
            .container-fluid2 .row .player-content-bg {
                background-color: #ffffff;
                min-height: 800px;
            }
            .container-fluid2 .row .player-content-bg header {
                padding-top: 20px;
            }
            .container-fluid2 .row .player-content-bg header h1 {
                background-image: url(../../images/image-wp/10.png), url(../../images/image-wp/11.png);
                background-position: 50% 0, 50% 100%;
                background-repeat: no-repeat;
                color: #000;
                min-width: 54px;
                padding: 8px 0;
                text-align: center;
                font-size: 18px;
            }
            .news-bg2 div:nth-child(1) {
                height: 206px!important;
            }
            /* 轮播 */
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt {
                padding-top: 25px;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .carousel_wrap-rq {
                margin: 0 25px;
                padding-top: 0;
                padding-bottom: 20px;
                border: 0;
                background: transparent;
                outline: none;
                position: relative;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .carousel_wrap-rq img {
                width: 100%;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .carousel_wrap-rq a {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background: url(../../images/image-wp/12.png) no-repeat center;
                cursor: pointer;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .allvideos {}
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix {
                margin: 0px 25px;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .videopic-list {
                position: relative;
                padding: 0 30px;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .videopic-list .subitem-1 {
                width: 50%;
                float: left;
                text-align: center;
                position: relative;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .videopic-list .subitem-1 .block {
                width: 100%;
                height: 100%;
                background: #fff;
                position: absolute;
                opacity: .4;
                display: none;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .videopic-list .subitem-1:hover .block {
                display: block;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .videopic-list .subitem-1 a img {
                width: 95%;
                margin: 0 auto;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .left-arrow {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 30px;
                height: 100%;
                color: #000;
                background: #aaa;
                display: block;
                font-size: 30px;
                vertical-align: middle;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .left-arrow:hover {
                color: #fff;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .left-arrow span {
                position: absolute;
                top: 50%;
                margin-top: -15px;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .right-arrow {
                left: auto;
                right: 0;
                bottom: 0;
                width: 30px;
                height: 100%;
                color: #000;
                background: #aaa;
                display: block;
                font-size: 30px;
                vertical-align: middle;
                position: absolute;
                top: 0;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .right-arrow:hover {
                color: #fff;
            }
            .container-fluid2 .row .player-content-bg .tctd_playlist_yt .clearfix .right-arrow span {
                position: absolute;
                top: 50%;
                margin-top: -15px;
            }
            /* 最新发布 */
            .container-fluid2 .row .player-content-bg .latestArticle {
                padding: 25px;
            }
            .container-fluid2 .row .player-content-bg .latestArticle .ubi-title {
                width: 100%;
                height: 50px;
                background-color: #3e61ad;
                color: #fff;
                font-size: 18px;
                line-height: 50px;
                padding-left: 20px;
                position: relative;
            }
            .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 {
                padding: 15px 0;
                border-bottom: 1px solid #eee;
            }
            .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 img {
                min-width: 160px;
                width: 100%;
                height: 100%;
            }
            .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 .news {
                color: #fff;
                padding: 10px;
                font-size: 14px;
            }
            .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 .news h3 {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 .news h3 a {
                color: #000;
                font-size: 14px;
            }
            .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 .news .news-date {
                color: #565656;
                font-weight: bold;
                font-size: 14px;
            }
            .container-fluid2 .row .player-content-bg .latestArticle .news-bg2 .news p {
                height: 60px;
                color: #969696;
                margin: 0 0 0px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }